# Google Sheets API URL
# Après avoir déployé le Google Apps Script, collez l'URL ici
VITE_GOOGLE_SHEETS_API_URL=

# Exemple:
# VITE_GOOGLE_SHEETS_API_URL=https://script.google.com/macros/s/VOTRE_ID_ICI/exec
